@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Oswald:300,regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,regular&display=swap");
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Oswald";
$fontFamilyPrimary: "Open Sans";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1800;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #111;
$accentColor: #4caf50;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	background-color: #fff;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0px 15px;
	box-sizing: content-box;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
//@import "popup";
@import "header";
@import "footer";
//@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	// .page__hero
	&__hero {
	}
	// .page__about
	&__about {
	}
}
//===================================================================================================================================
.hero {
	position: relative;
	display: flex;
	min-height: 100vh;
	background: url("../img/hero/bg.jpg") center / cover no-repeat;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#000, 0.75);
	}
	// .hero__container
	&__container {
		max-width: 100%;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1 1 auto;
	}
}
.slider-hero {
	z-index: 5;
	min-width: 0;
	padding: 80px 0;
	// .slider-hero__slide
	&__slide {
		text-align: center;
	}
	// .slider-hero__title
	&__title {
		letter-spacing: math.div(4, 72) * 1em;
		font-weight: 700;
		color: #fff;
		text-transform: uppercase;
		@include adaptiv-value("font-size", 72, 42, 1);
		line-height: math.div(100, 72) * 100%;
		margin: 0 0 math.div(24, 72) * 1em 0;
	}
	// .slider-hero__text
	&__text {
		font-weight: 300;
		font-size: 20px;
		line-height: math.div(23, 20) * 100%;
		margin: 0 0 math.div(15, 20) * 1em 0;
		letter-spacing: math.div(1.5, 20) * 1em;
		color: rgba(#fff, 0.8);
		font-family: $fontFamilyPrimary;
	}
	// .slider-hero__bullets
	&__bullets {
		position: absolute;
		bottom: 25px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		align-items: flex-end;
		justify-content: center;
		counter-reset: item;
		min-height: 36px;
	}
	// .slider-hero__bullet
	&__bullet {
		counter-increment: item;
		position: relative;
		cursor: pointer;
		&:not(:last-child) {
			margin: 0 12px 0 0;
		}
		&::before {
			font-weight: 700;
			content: counter(item, decimal-leading-zero);
			font-size: 18px;
			color: rgba(#fff, 0.43);
			letter-spacing: 0.1em;
			transition: color 0.3s, font-size 0.3s;
		}
		&_active {
			&::before {
				font-size: 36px;
				color: #fff;
			}
			&::after {
				z-index: -1;
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				height: 2px;
				background-color: $accentColor;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					color: #fff;
				}
			}
		}
	}
}
//====================================================================================================
.about {
	@include adaptiv-value("padding-top", 200, 40, 1);
	@include adaptiv-value("padding-bottom", 200, 40, 1);
	// .about__body
	&__body {
		@media (min-width: $md3+px) {
			display: flex;
			justify-content: space-between;
			min-height: 418px;
		}
	}
	// .about__content-start
	&__content-start {
		z-index: 5;
		position: relative;
		@media (max-width: $md3+px) {
			margin: 0 0 30px 0;
		}
	}
	// .about__title
	&__title {
		span {
			font-family: "Oswald";
			text-transform: uppercase;
			color: #333;
			font-weight: 700;
			font-size: 36px;
			letter-spacing: math.div(2.3, 36) * 1em;
			line-height: math.div(53, 36) * 100%;
			margin: 0 0 math.div(5, 36) * 1em 0;
			display: block;
		}
		font-weight: 300;
		text-transform: uppercase;
		font-family: $fontFamilyPrimary;
		font-size: 42px;
		line-height: math.div(49, 42) * 100%;
		margin: 0 0 math.div(32, 42) * 1em 0;
	}
	// .about__text
	&__text {
		position: relative;
		font-weight: 300;
		font-size: 15px;
		letter-spacing: math.div(2, 15) * 1em;
		line-height: math.div(25, 15) * 100%;
		color: #5b5858;
		font-family: $fontFamilyPrimary;
		@media (min-width: $md3+px) {
			max-width: 298px;
			margin: 0 0 0 50px;
			&::before {
				position: absolute;
				content: "";
				left: -10px;
				top: 14px;
				width: 20px;
				height: 2px;
				transform: translateX(-100%);
				background-color: #353535;
			}
		}
	}
	// .about__images
	&__images {
		z-index: 1;
		position: relative;
		flex: 0 0 309px;
		@media (max-width: $md2+px) {
			flex-shrink: 1;
		}
		@media (max-width: $md3+px) {
			display: none;
		}
	}
	// .about__image
	&__image {
		pointer-events: none;
		position: absolute;
		width: 100%;
		height: 100%;
		padding: 0 0 math.div(418, 309) * 100% 0;
		&:first-child {
			opacity: 0.3;
			z-index: 2;
			@media (min-width: $md2+px) {
				bottom: 89px;
				right: 210px;
			}
			@media (max-width: $md2+px) {
				opacity: 0.2;
				transform: translateX(-50%);
			}
		}
		@media (min-width: $md2+px) {
			&:nth-child(2) {
				z-index: 1;
				opacity: 0.8;
				clip-path: polygon(99px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 329px, 99px 329px, 99px 0%);
				background-color: $accentColor;
			}
		}
		&:last-child {
			opacity: 0.5;
			z-index: 0;
			@media (min-width: $md2+px) {
				top: 106px;
				left: 210px;
				img {
					object-position: -226px;
				}
			}
			@media (max-width: $md2+px) {
				opacity: 0.2;
				transform: translateX(50%);
			}
		}
	}
	// .about__content-end
	&__content-end {
		z-index: 5;
		position: relative;
		@media (min-width: $md3+px) {
			align-self: flex-end;
		}
	}
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
